<div class="block">
    <div class="header">Matchs</div>
    <div class="section">
        <ul style="list-style: none;">
            <li ng-repeat="(key, value) in matchs" 
                ng-class="{'selected': group == key}" 
                style="display: inline-block; margin-right: 20px">
                <a href ng-click="setGroup(key)">{{ getGroupName(key) }}</a>
            </li>
        </ul>
        <table class="table">
            <thead>
                <tr>
                    <th style="text-align:center" width="10%">V</td>
                    <th style="text-align:center" width="10%">N</td>
                    <th style="text-align:center" width="10%">D</td>
                    <th style="text-align:center" width="5%">Value 1</td>
                    <th style="text-align:right" width="10%">Equipe 1</td>
                    <th width="10%"> Equipe 2</td>
                    <th style="text-align:center" width="5%">Value 2</td>
                    <th style="text-align:center" width="10%">V</td>
                    <th style="text-align:center" width="10%">N</td>
                    <th style="text-align:center" width="10%">D</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="match in matchs[group]">
                    <td ng-repeat="result in getCote1(match)"
                        ng-class="{'color-green': result > 0, 'color-red': result < 0}" 
                        style="text-align:center">{{ result }} ({{ getPercentage(result, getCote(match.team1)) }})
                    </td>
                    <td>{{ getCote(match.team1) }}</td>
                    <td style="text-align:right">{{ getTeam(match.team1) }} </td>
                    <td>{{ getTeam(match.team2) }}</td>
                    <td>{{ getCote(match.team2) }}</td>
                    <td ng-repeat="result in getCote2(match)" 
                        ng-class="{'color-green': result > 0, 'color-red': result < 0}" 
                        style="text-align:center">{{ result }} ({{ getPercentage(result, getCote(match.team2)) }})
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
